<app-breadcrumbs titulo="Liquidación de proveedores" subtituloProceso="Reportes"
    subtituloOperacion="Liquidación de proveedores"></app-breadcrumbs>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Liquidación de proveedores</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <!-- INICIO TABLE -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <h3 class="card-title">Reporte de registro de ventas</h3> -->
                            <form [formGroup]="formReporte" (ngSubmit)="submitFormulario()">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label for="txt-fecha-fin">Proveedor</label>
                                        <ng-select formControlName="proveedorId" [items]="proveedores"
                                            bindLabel="razonComercial" bindValue="id" [clearable]="false"></ng-select>
                                        <span class="form-text text-danger" *ngIf="campoNoValido('proveedorId')">Campo
                                            obligatorio.</span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="txt-fecha-fin">Fecha inicio</label>
                                        <input type="date" class="form-control" formControlName="fechaInicio"
                                            id="txt-fecha-inicio" placeholder="Ingrese número">
                                        <span class="form-text text-danger" *ngIf="campoNoValido('fechaInicio')">Campo
                                            obligatorio.</span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="txt-fecha-inicio">Fecha fin</label>
                                        <input type="date" class="form-control" formControlName="fechaFin"
                                            id="txt-fecha-fin" placeholder="Ingrese número">
                                        <span class="form-text text-danger" *ngIf="campoNoValido('fechaFin')">Campo
                                            obligatorio.</span>
                                    </div>
                                    <div class="form-group col-md-3 mt-4">

                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </div>
                            </form>

                            <div class="card-tools">

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Producto</th>
                                        <th>Marca</th>
                                        <th>Talla</th>
                                        <th>Color</th>
                                        <th>Cantidad</th>
                                        <th>Total Compra S/</th>
                                        <th>Total Venta S/</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let data of reporte">
                                        <td> {{ data.productoCodigo }} </td>
                                        <td> {{ data.productoNombre }} </td>
                                        <td> {{ data.marcaNombre }} </td>
                                        <td> {{ data.productoTalla }} </td>
                                        <td> {{ data.productoColor }} </td>
                                        <td> {{ data.boletaCantidad }} </td>
                                        <td> {{ data.boletaPrecioCompra | currency:'PEN' }} </td>
                                        <td> {{ data.boletaPrecioVenta | currency:'PEN' }} </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- FIN TABLE -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>