<app-breadcrumbs titulo="Editar proveedor" subtituloProceso="Consignaciones"
    subtituloOperacion="Editar proveedor"></app-breadcrumbs>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <app-proveedor-form labelSubmit="Editar" [model]="proveedor" (onSubmit)="submit($event)"
                        (onCancel)="cancel()"></app-proveedor-form>
                </div>
                <!-- /.card -->

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>