<form [formGroup]="formGuiaRemision" (submit)="submitForm()">
    <div class="card-body">
        <div class="form-group">
            <label for="txt-numero">Número</label>
            <input type="text" class="form-control" formControlName="numero" id="txt-numero"
                placeholder="Ingrese número">
            <span class="form-text text-danger" *ngIf="campoNoValido('numero')">Campo
                obligatorio.</span>
        </div>
        <div class="form-group">
            <label for="txt-fecha-emision">Fecha</label>
            <input type="date" class="form-control" formControlName="fechaEmision" id="txt-fecha-emision"
                placeholder="Ingrese fecha">
            <span class="form-text text-danger" *ngIf="campoNoValido('fechaEmision')">Campo
                obligatorio.</span>
        </div>
        <div class="form-group">
            <label for="txt-porc-comision">Porcentaje comisión</label>
            <input type="number" class="form-control" formControlName="porcentajeComision" id="txt-porc-comision"
                placeholder="Ingrese porcentaje">
            <span class="form-text text-danger" *ngIf="campoNoValido('porcentajeComision')">Campo
                obligatorio.</span>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="button" (click)="submitForm()" class="btn btn-primary"> {{ labelSubmit }} </button>
        <button type="button" (click)="cancelForm()" class="btn btn-default mx-2">Cancelar</button>
    </div>
</form>