<app-breadcrumbs titulo="Kardex por producto" subtituloProceso="Reportes"
    subtituloOperacion="Kardex por producto"></app-breadcrumbs>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Kardex por producto</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <!-- INICIO TABLE -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <h3 class="card-title">Reporte de registro de ventas</h3> -->
                            <form [formGroup]="formReporte" (ngSubmit)="submitFormulario()">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label for="txt-fecha-fin">Producto</label>
                                        <ng-select formControlName="productoId" [items]="productos" bindLabel="nombre"
                                            bindValue="id" [clearable]="false"></ng-select>
                                        <span class="form-text text-danger" *ngIf="campoNoValido('productoId')">Campo
                                            obligatorio.</span>
                                    </div>
                                    <div class="form-group col-md-3 mt-4">

                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </div>
                            </form>

                            <div class="card-tools">

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="vertical-align: middle;">Fecha</th>
                                        <th rowspan="2" style="vertical-align: middle;">Tipo Operacion</th>
                                        <th rowspan="2" style="vertical-align: middle;">Comprobante tipo/número</th>
                                        <th colspan="3" style="text-align: center">Entrada</th>
                                        <th colspan="3" style="text-align: center">Salida</th>
                                        <th colspan="3" style="text-align: center">Saldo</th>
                                    </tr>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let data of reporte">
                                        <td> {{ data.fechaEmision | date: "EEEE, dd'/'LL'/'yyyy" }} </td>
                                        <td> {{ data.tipoOperacion }} </td>
                                        <td> {{ data.numero }} </td>

                                        <td> {{ data.entradaCantidad }} </td>
                                        <td> {{ data.entradaPrecio | currency:'PEN'}} </td>
                                        <td> {{ data.entradaTotal | currency:'PEN'}} </td>

                                        <td> {{ data.salidaCantidad }} </td>
                                        <td> {{ data.salidaPrecio | currency:'PEN'}} </td>
                                        <td> {{ data.salidaTotal | currency:'PEN'}} </td>

                                        <td> {{ data.saldoCantidad }} </td>
                                        <td> {{ data.saldoPrecio | currency:'PEN'}} </td>
                                        <td> {{ data.salidaTotal | currency:'PEN'}} </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- FIN TABLE -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>