<form [formGroup]="formProveedor" (submit)="submitForm()">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txt-ruc">Ruc</label>
                    <input type="text" class="form-control" id="txt-ruc" formControlName="ruc"
                        placeholder="Ingrese ruc">
                    <span class="form-text text-danger" *ngIf="campoNoValido('ruc')">Campo
                        obligatorio.</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txt-razon-comercial">Razón comercial</label>
                    <input type="text" class="form-control" id="txt-razon-comercial" formControlName="razonComercial"
                        placeholder="Ingrese razón comercial">
                    <span class="form-text text-danger" *ngIf="campoNoValido('razonComercial')">Campo
                        obligatorio.</span>
                </div>
            </div>

            <!-- CON BOOTSTRAP PRACTICANDO-->
            <!-- <div class="form-group">
            <label for="txt-razon-comercial-2">Razón comercial 2</label>

            <input type="text" class="form-control is-invalid" id="txt-razon-comercial-2"
                formControlName="razonComercial" placeholder="Ingrese razón comercial"
                aria-describedby="txt-razon-comercial-2-error" aria-invalid="true">

            <span id="txt-razon-comercial-2-error" class="error invalid-feedback">Please enter a
                email
                address</span>
        </div> -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txt-email">Email</label>
                    <input type="email" class="form-control" id="txt-email" formControlName="email"
                        placeholder="Ingrese email">
                    <span class="form-text text-danger" *ngIf="campoNoValido('email')">Debe tener entre 3 y
                        255 caracteres.</span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txt-direccion">Dirección</label>
                    <input type="text" class="form-control" id="txt-direccion" formControlName="direccion"
                        placeholder="Ingrese direccion">
                    <span class="form-text text-danger" *ngIf="campoNoValido('direccion')">Debe tener entre
                        3 y 255 caracteres.</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txt-telefono">Teléfono</label>
                    <input type="text" class="form-control" id="txt-telefono" formControlName="telefono"
                        placeholder="Ingrese teléfono">
                    <span class="form-text text-danger" *ngIf="campoNoValido('telefono')">Debe tener entre 3
                        y 255 caracteres.</span>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <!-- <button type="button" (click)="submitForm()" class="btn btn-primary"> {{ labelSubmit }} </button> -->
        <button type="button" data-toggle="modal" data-target="#modal-confirmar" class="btn btn-primary"> {{ labelSubmit
            }} </button>
        <button type="button" (click)="cancelForm()" class="btn btn-default mx-2">Cancelar</button>
    </div>
</form>

<!-- MODAL -->
<div class="modal fade" id="modal-confirmar" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Seguro de {{ labelSubmit
                    | lowercase }} el proveedor?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button (click)="submitForm()" type="button" class="btn btn-primary" data-dismiss="modal">{{ labelSubmit
                    }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>