<app-breadcrumbs titulo="Nueva boleta de venta" subtituloProceso="Ventas"
    subtituloOperacion="Nueva boleta de venta"></app-breadcrumbs>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                    </div>
                    <!-- <app-boleta-venta-form [prodductosSeleccionados]="prodductosSeleccionados"
                        (onProductoSelected)="buscarProductoSeleccionado($event)" [productoSelected]="productoSelected"
                        [productosBuscados]="productos" labelSubmit="Crear" (onDebounce)="buscarProductos($event)"
                        (onSubmit)="submit($event)" (onCancel)="cancel()">
                    </app-boleta-venta-form> -->

                    <form [formGroup]="formBoletaVenta" (submit)="submitForm()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="txt-buscar-producto">Buscar productos</label>
                                                <input type="search" class="form-control" id="txt-buscar-producto"
                                                    (input)="teclaPresionada()" #txtBuscarProducto
                                                    placeholder="Buscar código o nombre del producto">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h1>Productos buscados</h1>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <section class="content">
                                                <div class="container-fluid">
                                                    <h5 class="mb-2">Info Box</h5>
                                                    <div class="row">



                                                        <div class="col-md-6 col-sm-6 col-12"
                                                            *ngFor="let producto of productos">
                                                            <div class="info-box bg-warning"
                                                                (click)="productoBox(producto.id )">

                                                                <div class="info-box-content">
                                                                    <span class="info-box-number"
                                                                        style="text-align: center;">
                                                                        {{ producto.codigo }} </span>
                                                                    <span class="info-box-number"
                                                                        style="text-align: center;">
                                                                        {{ producto.nombre }} </span>
                                                                    <span class="info-box-number"
                                                                        style="text-align: center;">
                                                                        {{ producto.color }} </span>
                                                                    <span class="info-box-number"
                                                                        style="text-align: center;">
                                                                        {{ producto.talla }} </span>
                                                                    <div class="progress">
                                                                        <div class="progress-bar" style="width: 0%">
                                                                        </div>
                                                                    </div>
                                                                    <span class="info-box-number"
                                                                        style="text-align: center;">
                                                                        {{ producto.precioVenta | currency:'PEN' }}
                                                                    </span>
                                                                </div>
                                                                <!-- /.info-box-content -->
                                                            </div>
                                                            <!-- /.info-box -->
                                                        </div>

                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>

                                <div class=" col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="txt-numero">Número de boleta</label>
                                                <input type="number" class="form-control" formControlName="numero"
                                                    id="txt-numero" placeholder="Ingrese número">
                                                <span class="form-text text-danger"
                                                    *ngIf="campoNoValido('numero')">Campo
                                                    obligatorio.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="txt-documento">Número de documento (Dni/Pasaporte/ Carnet
                                                    Ext.)</label>
                                                <input type="text" class="form-control"
                                                    formControlName="numeroDocumento" id="txt-documento"
                                                    placeholder="Ingrese número de documento">
                                                <span class="form-text text-danger"
                                                    *ngIf="campoNoValido('numeroDocumento')">Campo
                                                    obligatorio.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="txt-nombre-completo">Nombre completo</label>
                                                <input type="text" class="form-control" formControlName="nombre"
                                                    id="txt-nombre-completo" placeholder="Ingrese nombre completo">
                                                <span class="form-text text-danger"
                                                    *ngIf="campoNoValido('nombre')">Campo
                                                    obligatorio.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="txt-nombre-completo">Direccion</label>
                                                <input type="text" class="form-control" formControlName="direccion"
                                                    id="txt-direccion" placeholder="Ingrese direccion">
                                                <span class="form-text text-danger"
                                                    *ngIf="campoNoValido('direccion')">Campo
                                                    obligatorio.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1>Productos seleccionados</h1>
                                            <!-- AQUÍ LOS PRODUCTOS SELECCIONADOS -->
                                            <div class="card-body table-responsive p-0">
                                                <table class="table table-hover text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Producto</th>
                                                            <th style="text-align: center">Cantidad</th>
                                                            <th></th>
                                                            <th style="text-align: center">Precio venta</th>
                                                            <th>Total</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr *ngFor="let producto of prodductosSeleccionados">
                                                            <td> {{ producto.cadenaProducto }} </td>

                                                            <td> <input type="number" value="1"
                                                                    (input)="actualizarCantidad(producto.id, $event)"
                                                                    min="1" class="form-control"
                                                                    style="text-align: center"> </td>

                                                            <td> <label>S/</label></td>

                                                            <td> {{ producto.precioVenta | currency: 'PEN' }} </td>

                                                            <td> {{ producto.precioVenta | currency: 'PEN' }} </td>

                                                            <td class="project-actions text-right">

                                                                <div class="btn-group btn-group-sm">
                                                                    <a (click)="eliminarDetalle(producto)"
                                                                        class="btn btn-danger mx-2" data-toggle="modal"
                                                                        data-target="#modal-eliminar"><i
                                                                            class="fas fa-trash">
                                                                        </i>
                                                                        Eliminar</a>
                                                                </div>

                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" data-toggle="modal" data-target="#modal-confirmar"
                                class="btn btn-primary"> Crear
                            </button>
                            <button type="button" (click)="cancelForm()" class="btn btn-default mx-2">Cancelar</button>
                        </div>
                    </form>

                </div>

                <!-- /.card -->
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<!-- MODAL -->
<div class="modal fade" id="modal-confirmar" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Seguro de crear la venta?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button (click)="submitForm()" type="button" class="btn btn-primary" data-dismiss="modal">Crear</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>