<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar guia de remisión</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Consignaciones</li>
                    <li class="breadcrumb-item active">Editar guía de remisión</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <pre>
            {{ guiaRemision | json }}
        </pre>
    </div><!-- /.container-fluid -->
</section>