<form [formGroup]="formBoletaVenta" (submit)="submitForm()">
    <div class="card-body">
        <div class="form-group">
            <label for="txt-numero">Número</label>
            <input type="text" class="form-control" id="txt-numero" formControlName="numero"
                placeholder="Ingrese nombre">
            <span class="form-text text-danger" *ngIf="campoNoValido('numero')">Campo
                obligatorio.</span>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="button" (click)="submitForm()" class="btn btn-primary"> {{ labelSubmit }} </button>
        <button type="button" (click)="cancelForm()" class="btn btn-default mx-2">Cancelar</button>
    </div>
</form>