<app-breadcrumbs titulo="Boletas de venta" subtituloProceso="Ventas"
    subtituloOperacion="Boletas de venta"></app-breadcrumbs>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Listado</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <!-- INICIO TABLE -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Listado de boletas de venta</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <!-- <input type="text" name="table_search" class="form-control float-right"
                                        placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div> -->

                                    <button routerLink="/dashboard/ventas/boletas-venta/crear" type=" button"
                                        class="btn btn-block btn-primary">Nueva boleta</button>

                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Fecha emisión</th>
                                        <th>Cliente</th>
                                        <th>Número</th>
                                        <th>Estado</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let boleta of boletasVenta">
                                        <td> {{ boleta.fechaEmision | date: "EEEE, dd'/'LL'/'yyyy"}} </td>
                                        <td> {{ boleta.cliente.nombre }} </td>
                                        <td> {{ boleta.numero }} </td>
                                        <td> {{ (boleta.eliminado) ? 'Anulado' : 'Pagado' }} </td>
                                        <td> {{ boleta.total | currency:'PEN' }} </td>
                                        <td class="project-actions text-right">

                                            <div class="btn-group btn-group-sm">
                                                <!-- <a [routerLink]="['/dashboard/ventas/boletas-venta/edit', boleta.id]"
                                                    class="btn btn-info"><i class="fas fa-folder">
                                                    </i>
                                                    Ver</a> -->
                                                <a (click)="asignarBoleta(boleta)" class="btn btn-info"
                                                    data-toggle="modal" data-target="#modal-mostrar"><i
                                                        class="fas fa-folder">
                                                    </i>
                                                    Ver</a>
                                                <a (click)="asignarBoleta(boleta)" class="btn btn-danger mx-2"
                                                    data-toggle="modal" data-target="#modal-eliminar"><i
                                                        class="fas fa-trash">
                                                    </i>
                                                    Anular</a>
                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- FIN TABLE -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<!-- MODAL -->
<div class="modal fade" id="modal-eliminar" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anular</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Seguro de anular la boleta de venta?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button (click)="anular(boletaVenta.id)" type="button" class="btn btn-danger"
                    data-dismiss="modal">Anular</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- MODAL -->
<div class="modal fade" id="modal-mostrar" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Boleta de venta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txt-codigo">Número</label>
                            <input [value]="boletaVenta.numero" type="text" class="form-control" id="txt-codigo"
                                placeholder="Ingrese código" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txt-fecha-emision">Fecha</label>
                            <input [value]="boletaVenta.fechaEmision | date: 'EEEE, dd/LL/yyyy'" type="text"
                                class="form-control" id="txt-fecha-emision" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txt-cliente-documento">Número de documento</label>
                            <input [value]="boletaVenta.cliente.nombre" type="text" class="form-control"
                                id="txt-cliente-documento" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txt-cliente-nombre">Nombre completo</label>
                            <input [value]="boletaVenta.cliente.nombre" type="text" class="form-control"
                                id="txt-cliente-nombre" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txt-cliente-direccion">Dirección</label>
                            <input [value]="boletaVenta.cliente.direccion" type="text" class="form-control"
                                id="txt-cliente-direccion" disabled>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio venta</th>
                                <th>Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let detalle of boletaVenta.boletaVentaDetalles">
                                <td> {{ detalle.producto.cadenaProducto }} </td>
                                <td> {{ detalle.cantidad }} </td>
                                <td> {{ detalle.precioVenta | currency:'PEN' }} </td>
                                <td> {{ detalle.totalDetalle | currency:'PEN' }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <p>¿Seguro de anular la boleta de venta?</p> -->
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                <!-- <button  (click)="anular(boletaVenta.id)" type="button" class="btn btn-danger"
                    data-dismiss="modal">Anular</button> -->

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-eliminar"
                    data-dismiss="modal">Anular</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>