<app-breadcrumbs titulo="Nueva marca" subtituloProceso="Consignaciones"
    subtituloOperacion="Nueva marca"></app-breadcrumbs>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                    </div>

                    <app-marca-form labelSubmit="Crear" (onSubmit)="submit($event)" (onCancel)="cancel()">
                    </app-marca-form>

                </div>

                <!-- /.card -->
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>